@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a asp-action="Dashboard" class="nav-link">Dashboard</a>
  </li>
  <li class="nav-item">
    <a asp-action="ViewTimeSlots" class="nav-link active" aria-current="page">ViewTimeSlots</a>
  </li>
</ul>