@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a asp-area="" asp-controller="ManageData" asp-action="ViewUsers" class="nav-link">Users</a>
  </li>
  <li class="nav-item">
    <a asp-area="" asp-controller="ManageData" asp-action="ViewLocations" class="nav-link">Locations</a>
  </li>
  <li class="nav-item">
    <a asp-area="" asp-controller="ManageData" asp-action="ViewSectors" class="nav-link active" aria-current="page">Sectors</a>
  </li>
</ul>

